html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


/* Custom CSS Start */
h1, h2{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin-bottom: 0; 
}
header {
    background: #448faf;
    padding: 20px 0;
}
.header-right {
    text-align: right!important;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding: 0;
}
header .header-right  a {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.header-right img {
    margin-right: 10px;
}
section.banner {
    background: #e5fdff;
    padding: 0 0;
    position: relative;
}
.work-your-plan h1 {
    font-size: 52px;
    color: #2a2a2a;
}
.work-your-plan h2 {
    font-size: 50px;
    color: #2a2a2a;
    position: relative;
    line-height: normal;
    padding-bottom: 16px;
}
.work-your-plan h2:after {
    position: absolute;
    width: 110px;
    border: 3px solid #f78666;
    content: '';
    left: 0;
    margin: 0 auto;
    bottom: 0;
}
.work-your-plan p {
    font-size: 24px;
    width: 500px;
    line-height: 1.9;
    color: #323232;
}
.row.banner1:after {
    position: absolute;
    content: '';
    width: 550px;
    height: 118px;
    top: 0;
    /* background-image: url(images/cloud.png); */
    background-repeat: no-repeat;
    right: 0;
}
.image-right-banner img {
    position: absolute;
    top: -66px;
    right: 0;
    width: 84%;
    z-index: 99;
}
section.trial-circle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
section.call-for-us {
    background: #f78666;
    padding: 60px 0;
    display: flex;
    color: #fff;
}
.row.banner1 {
    position: relative;
    padding: 117px 0;
}
section{
    position: relative;
    padding: 60px 0;
}
section.call-for-us h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}
section.call-for-us p {
    font-size: 18px;
    line-height: 1.5;
}
section.call-for-us a.telphone {
    padding: 12px 40px;
    background: #fff;
    color: #438faf;
}
section.call-for-us a.telphone:hover {
    opacity: 0.8;
    text-decoration: none;
}
.tel-phone {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
section.call-for-us a.telphone img {
    width: 18px;
    margin-right: 12px;
}
section.bg-color {
    background: #f2fdff;
}
section.facebook.bg-color {
    padding: 60px 0;
}
.heading h2:after {
    position: absolute;
    width: 110px;
    border: 3px solid #f78666;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
.heading {
    position: relative;
    padding-bottom: 20px;
    margin: 0 auto 70px;
}
.heading h2 {
    margin: 0;
    font-size: 36px;
}
.Reviews {
    background: #fff;
    padding: 20px;
    margin-bottom: 28px;
}
.profile {
    display: inline-block;
}
.title-review {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}
.Reviews p {
    margin: 20px 0 0;
    font-size: 16px;
    min-height: 95px;
    overflow: hidden;
}
.title-review h6 {
    font-size: 20px;
    margin: 0;
    color: #009daf;
    text-transform: capitalize;
}
svg.fa-star {
    color: #fbaa0a;
    font-size: 14px;
}
input.form-control {
    background: #efefef;
    border-radius: 0;
    padding: 0 16px;
    height: 44px;
    margin-bottom: 24px;
    border: 1px solid #efefef;
}
textarea {
    background: #efefef;
    border-radius: 0;
    padding: 16px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid #efefef;
    resize: none;
    color: #6c757d;
    height: 100%;
    display: inline-block;
    max-height: 60px;
}
button.btn-submit {
    padding: 9px 20px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: #438faf;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
footer {
    background: #0e455a;
    color: #fff;
    padding: 12px 0;
    display: flex
}
ul.list-inline {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
ul.list-inline li{
    display: inline-block;
}
ul.list-inline li a {
    display: inline-block;
}
footer .right-side p {
    margin: 0;
    vertical-align: middle;
}
.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.list-inline li a img {
    height: 40px;
}
.video-sec {
    padding: 0;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: -7px;
}
.home-video {
    width: 100%;
    display: inline-block;
    float: left;
}
.client-video {
    background-position: center center;
    float: left;
    position: relative;
    padding: 0;
    margin: 0px;
    /* background-image: url(images/video-background-min.jpg); */
    width: 100%;
    display: inline-block;
    height: 600px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.client-video .home-video-title {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 77;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.client-video .btn-primary {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
}
.cus-video-pop .modal-dialog {
    width: 800px;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    max-width: 700px;
}
.cus-video-pop button.close {
    position: absolute;
    right: -13px;
    top: -13px;
    opacity: 1;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cus-video-pop button.close span {
    font-size: 26px;
    color: #333333;
}
.form-control:focus , textarea:focus{
    border-color: #efefef;
    box-shadow: none;
    outline: none;
}
section.call-for-us .col-7 {
    max-width: 100%;
}
section.call-for-us .col-5 {
    max-width: 100%;
    justify-content: center;
}

@media  screen and (max-width: 991px) {
    .row.banner1:after {
        display: none;
    }
    .work-your-plan h1 {
        font-size: 36px;
    }
    .work-your-plan h2 {
        font-size: 27px;
    }
    .work-your-plan p {
        font-size: 16px;
        width: 100%;
        line-height: 1.5;
    }
    .image-right-banner img {
        top: 0;
        width: 100%;
    }    
}
@media  screen and (max-width: 767px) {
    .cus-video-pop .modal-dialog {
        width: 92%;
    }
    .row {
        display: block;
    }
    section .work-your-plan {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .image-right-banner {
        display: none;
    }
    footer {
        display: flex;
        text-align: center;
    }
    .right-side {
        justify-content: center;
        text-align: center !important;
    }
    header .col {
        max-width: 100%;
        text-align: center;
        justify-content: center;
    }
    .header-right {
        margin-top: 20px;
    }
    .row.banner1 {
        position: relative;
        padding: 60px 0;
    }
    .client-video {
        height: 400px;
    }
}
/* Custom CSS Ends */